html {	/*versi mobail loginnye pasar ahpoong*/
	font-size: 10pt;
	background-repeat:no-repeat;
	background-position:top center; 
	background-color:#5A3F19;
}
header {	/*biar kaga kemane2 gambarnye, supaye dokem di atas tengah bae*/
     position: fixed;	
     top: 0;
     left: 0;
     width: 100%;
}

label {
	display: block;
	color: #999;
}
.cf:before,
.cf:after {
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 0;
}
:focus {
	outline: 0;
}
.loginform {
	width: 165px; /*Lebar kotak login*/
	margin: 20px auto; /*Jarak border dengan bagian luar kotak login*/
	padding: 15px; /*Jarak border dengan bagian dalam kotak login*/
	background-color: rgba(250,250,250,0.5);
	border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 10px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
.loginform input:not([type=submit]) {
	padding: 3px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 13px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {	/*nyeting buat masing2 browser*/
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* browsers jadul macem IE 5 kebawah*/
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* buat manusia purba yang masih pake firefox 3.6 wkwkw*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* buat yang doyanan pake chrome jaduull */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* buat manusia2 modern yg udah bisa pake chrome10+, sama safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* yg biasa pake2 Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* buat laptop2 baru yg biasanye udah pake IE10+ (tetap ae lemot)*/
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /*buat wong deso yg masih pake IE6-9*/
	color: #fff;
	padding: 5px 25px;
	margin-left: 0px;
	margin-top: 18px;
	border-radius: 13px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginform p {
	display: inline;
	float: right;
	margin-bottom: 0px;
	